# 앱 구동 필수
streamlit
python-dotenv

# OpenAI API 및 GPT 연결
openai
langchain==0.1.14
langchain-community==0.0.24
langchain-openai==0.0.7

# 문서 로딩용
pypdf
python-pptx
python-docx
pandas
openpyxl

# 벡터 DB
chromadb==0.4.22

# 충돌 방지용
protobuf==3.20.*
