# 기본
streamlit
python-dotenv

# GPT & Langchain
openai
langchain==0.1.14
langchain-community==0.0.30
langchain-openai==0.0.7

# 문서 로딩
pypdf
python-pptx
python-docx
pandas
openpyxl

# 벡터 DB
chromadb==0.4.22

# 충돌 방지
protobuf==3.20.*
