streamlit
python-dotenv

openai
langchain==0.1.14
langchain-community==0.0.30
langchain-openai==0.0.7

pypdf
python-pptx
python-docx
pandas
openpyxl

protobuf==3.20.*
opentelemetry-api==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-exporter-otlp-proto-grpc==1.22.0
